.social_icon span {
  font-size: 60px;
  margin-left: 10px;
}

.social_icon span:hover {
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.login-form {
  height: 100vh;
}
